body{
    background-color: rgb(9, 184, 170);
}
input{
    border-radius: 4px 4px 4px 4px;
}

button{
    width: 60px;
    height: 30px;
    margin-top: 20px;
    border-radius: 4px 4px 4px 4px;
    color: black;
}

.imc{
    width: 200px;
    height: 100px;
    text-align: center;
    padding-left: 550px;
    padding-top: 100px ;

}
#resultado{
   width: 200px;
   height: 20px;
   text-align: center;
border: 1px solid black;
    
}
